<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>SayAll</string>
    <key>CFBundleExecutable</key>
    <string>RemoteMic</string>
    <key>CFBundleIdentifier</key>
	<string>com.hd838a.RemoteMic</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>SayAll</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.21</string>
	<key>CFBundleVersion</key>
	<string>174</string>
    <key>LSMinimumSystemVersion</key>
	<string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Connect to supported remote controls and Apple Watch to receive button and voice data.</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>Allow nearby iPhone, iPad, and Apple Watch devices to connect as a remote control and microphone.</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_remotemic._tcp</string>
    </array>
    <key>NSHumanReadableCopyright</key>
    <string>GPL-3.0-only</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>https://download.sayall.app/mac/channels/stable/appcast.xml</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUPublicEDKey</key>
	<string>8dWQovCnGPucjMcQuCHfrAv4PtjuDjJSbHNmItqYiyc=</string>
</dict>
</plist>
